# https://editorconfig.org/

root = true

[*]
charset = utf-8
indent_style = space
##trim_trailing_whitespace = true
##insert_final_newline = true

[*.{h,hpp,c,cpp}]
indent_size = 4

[{stb_image,stb_image_write}.h]
indent_size = 3

[{CMakeLists.*,*.cmake}]
indent_size = 2

[{Makefile,makefile}]
indent_style = tab

[*.{bat,cmd,cmd.*}]
end_of_line = crlf
indent_size = 2

[*.{ps1,ps1.*}]
end_of_line = crlf
indent_size = 4

[*.{md,markdown}]
indent_size = 4

[*.yml]
indent_size = 2
